@{
ViewData["Title"] = "Admin - Report";
Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="container-fluid">

  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex">
      <h4 class="m-0 font-weight-bold text-primary d-sm-inline-block">List Report</h4>
      <!-- Topbar Search -->
      <form class="d-none d-sm-inline-block form-inline ml-auto mr-md-3 my-2 my-md-0 mw-100 navbar-search" method="GET" action="/Admin/ManagerReports">
        <div class="input-group">
          <input type="text" name="Search" class="form-control border-1 small" placeholder="Search for..."
            aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered mr-auto" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th class="d-inline-block text-truncate" style="width: 40px;">#</th>
              <th class="d-inline-block text-truncate" style="width: 160px;">Username</th>
              <th class="d-inline-block text-truncate" style="width: 211px;">Title service</th>
              <th class="d-inline-block text-truncate" style="width: 252px;">Title report</th>
              <th class="d-inline-block text-truncate" style="width: 185px;">Time create</th>
              <th class="d-inline-block text-truncate" style="width: 164px;">Status</th>
            </tr>
          </thead>
          <tbody>
            @if(ViewBag.ListReport != null)
            {
              int i = 0;
              @foreach(var item in ViewBag.ListReport)
              {
                i++;
                <tr>
                  <td class="d-inline-block text-truncate" style="width: 40px;">@i</td>
                  <td class="d-inline-block text-truncate" style="width: 160px;">@item.User.UserName</td>
                  <td class="d-inline-block text-truncate" style="width: 211px;">@item.Service.Title</td>
                  <td class="d-inline-block text-truncate" style="width: 252px;">@item.TitleReport</td>
                  <td class="d-inline-block text-truncate" style="width: 185px;">@item.TimeCreateReport.ToString("dd/MM/yyyy")</td>
                  @if(item.Status == 0)
                  {
                    <td class="d-inline-block text-truncate" style="width: 164px;">
                      <a href="#" data-toggle="modal" data-target="#ChangeStatusReportModal" onclick="SetReportIdToModal(@item.ReportId)">Waiting</a>
                    </td>
                  }else
                  {
                    <td class="d-inline-block text-truncate" style="width: 164px;">
                      Processed
                    </td>
                  }
                </tr>
              }
            }
            <partial name="/Views/Shared/_ChangeStatusReport.cshtml" />
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->