@{
ViewData["Title"] = "Admin - Manager Users";
Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex">
      <h4 class="m-0 font-weight-bold text-primary d-sm-inline-block">List Users</h4>
      <!-- Topbar Search -->
      <form class="d-none d-sm-inline-block form-inline ml-auto mr-md-3 my-2 my-md-0 mw-100 navbar-search" method="GET" action="/Admin/ManagerUsers">
        <div class="input-group">
          <input type="text" name="Search" class="form-control border-1 small" placeholder="Search for..."
            aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th class="d-inline-block text-truncate" style="width: 44px;">#</th>
              <th class="d-inline-block text-truncate" style="width: 200px;">Username</th>
              <th class="d-inline-block text-truncate" style="width: 300px;">Email</th>
              <th class="d-inline-block text-truncate" style="width: 100px;">User level</th>
              <th class="d-inline-block text-truncate" style="width: 170px;">Register date</th>
              <th class="d-inline-block text-truncate" style="width: 100px;">Is seller</th>
              <th class="d-inline-block text-truncate" style="width: 100px;">Status</th>
            </tr>
          </thead>
          <tbody>
            @if(ViewBag.ListUsers != null)
            {
              int i = 0;
              @foreach(var item in ViewBag.ListUsers)
              {
                i++;
                <tr>
                  <td class="d-inline-block text-truncate" style="width: 44px;">@i</td>
                  <td class="d-inline-block text-truncate" style="width: 200px;">@item.UserName</td>
                  <td class="d-inline-block text-truncate" style="width: 300px;">@item.Email</td>
                  <td class="d-inline-block text-truncate" style="width: 100px;">@item.UserLevel</td>
                  <td class="d-inline-block text-truncate" style="width: 170px;">@item.RegisterDate.ToString("dd/MM/yyyy")</td>
                  @if(item.IsSeller == 1)
                  {
                    <td class="d-inline-block text-truncate" style="width: 100px;">Yes</td>
                  }else
                  {
                    <td class="d-inline-block text-truncate" style="width: 100px;">No</td>
                  }
                  @if(item.Status == 0)
                  {
                    <td class="d-inline-block text-truncate" style="width: 100px;">
                      <a href="#" data-toggle="modal" data-target="#ChangeStatusUserModal" onclick="SetUserIdToModal(@item.UserId)">Active</a>
                    </td>
                  }else
                  {
                    <td class="d-inline-block text-truncate" style="width: 100px;">
                      <a href="#" data-toggle="modal" data-target="#ChangeStatusUserModal" onclick="SetUserIdToModal(@item.UserId)">Block</a>
                    </td>
                  }
                </tr>
              }
            }
            <partial name="/Views/Shared/_ChangeStatusUser.cshtml" />
          </tbody>
        </table>
          <ul class="pagination pagination-sm justify-content-end">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->