﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vtc_Freelancer</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Seller.css">
    <link rel="stylesheet" type="text/css" href="~/css/profile.css">
    <link rel="stylesheet" type="text/css" href="~/css/Request.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/step.css">
    <link rel="stylesheet" href="~/css/offer.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Linh css request -->
    <link rel="stylesheet" type="text/css" href="~/css/linh_request.css">
    <link rel="stylesheet" type="text/css" href="~/css/serviceDetail.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

</head>

<body>
    <div class="wrapper-all" id="wrapper-all"></div>
    <div class="menu-content-hiden" id="hidden-div">
        <div class="wrapper-content-menu-hiden">
            <nav class="site-sidebars">
                <div class="profile-wrapper">
                    <label class="lable-profile">
                        @if(ViewBag.userAvatar == null)
                        {
                        <a href="/@ViewBag.UserName"><img class="img-profile" src="~/Images/avatardefault.png"
                                alt="avatar"></a>
                        }
                        else
                        {
                        <a href="/@ViewBag.UserName"><img class="img-profile" src="~/@ViewBag.userAvatar"
                                alt="avatar"></a>
                        }
                    </label>
                    <br>
                    <p class="username">@ViewBag.UserName</p>
                    <br>
                </div>
                <ul class="ul-sidebars">
                    <li class="li-sidebars"><a href="/">Home</a></li>
                    <li class="li-sidebars">Inbox</li>
                    <li class="li-sidebars">Saved</li>
                    <br>
                    <div class="content-sidebars-wrapper">
                        <li class="li-sidebars"><b>Buying</b></li>
                        <hr>
                        <li class="li-sidebars"><a href="/manager_request">Manage Requests</a></li>
                        <li class="li-sidebars"><a href="/create_request"> Post a Request</a></li>
                        <br>
                        @if(ViewBag.IsSeller == 1)
                         {   
                        <li class="li-sidebars"><b>Selling</b></li>

                        <hr>
                        <li class="li-sidebars">Manage Sales</li>
                        <li class="li-sidebars">Revenues</li>
                         }
                        <br>
                        <li class="li-sidebars"><b>General</b></li>
                        <hr>
                        <li class="li-sidebars">Setting</li>
                        <li class="li-sidebars"><a href="/Logout">Logout</a></li>
                    </div>

                </ul>
            </nav>
        </div>
    </div>
    <div>
        <div class="header container">
            <div class="left-top-nav">
                <div class="wrapper-logo">

                    <i id="icon-menu" class="fa fa-bars"></i>
                    <div class="logo">
                        <a href="/">VTC Freelancer</a>
                    </div>
                </div>
                <form action="/Home/Search" method="GET">
                    <input type="text" name="search_content" id="input-search-service" placeholder="Find Services" />
                    <button id="btn-search-service">Search</button>
                </form>
                <br>
            </div>
            <div class="right-top-nav">
                <ul class="nav-top">
                    @if(ViewBag.IsSeller == 0)
                    {
                    <li>
                        <a href="/BecomeSeller" class="nav-link"><b>Become a Seller</b></a>
                    </li>
                    }

                    <li>
                        <a class="nav-link"><b>Messages</b></a>
                    </li>
                    <li>
                        <a class="nav-link"><b>Saved</b></a>
                    </li>
                    <li style="position: relative">
                        <a id="display-tipOrder" class="nav-link"><b>Orders</b></a>
                        <div id="tip" class="tip-orders">
                            <div class="Triangular"></div>
                            <div class="list-state">
                                @if(ViewBag.ListOrder != null && ViewBag.ListOrder.Count != 0)
                                {
                                <ul style="margin: 0px">
                                    @foreach (var item in ViewBag.ListOrder)
                                    {
                                    @switch (@item.WorkStatus)
                                    {
                                    case 0:
                                    <a href="/Order/Requirement?orderId=@item.OrderId">
                                        <li>
                                            @for (int i = 0; i < item.Service.ListImage.Count; i++) { <img
                                                src="~/@item.Service.ListImage[i].Image" alt="" width="60px"
                                                height="35px" style="margin-right: 1rem;">
                                                break;
                                                }
                                                <h4>@item.Service.Title</h4>
                                                <span class="float-right incomp">INCOMPLETE</span>
                                        </li>
                                    </a>
                                    break;
                                    case 1:
                                    <a href="/Order?orderId=@item.OrderId">
                                        <li>
                                            @for (int i = 0; i < item.Service.ListImage.Count; i++) { <img
                                                src="~/@item.Service.ListImage[i].Image" alt="" width="60px"
                                                height="35px" style="margin-right: 1rem;">
                                                break;
                                                }
                                                <h4>@item.Service.Title</h4>
                                                <span class="float-right progress">IN PROGRESS</span>
                                        </li>
                                    </a>
                                    break;
                                    case 2:
                                    <a href="/Order?orderId=@item.OrderId">
                                        <li>
                                            @for (int i = 0; i < item.Service.ListImage.Count; i++) { <img
                                                src="~/@item.Service.ListImage[i].Image" alt="" width="60px"
                                                height="35px" style="margin-right: 1rem;">
                                                break;
                                                }
                                                <h4>@item.Service.Title</h4>
                                                <span class="float-right deli">DELIVERED</span>
                                        </li>
                                    </a>
                                    break;
                                    case 3:
                                    <a href="/Order?orderId=@item.OrderId">
                                        <li>
                                            @for (int i = 0; i < item.Service.ListImage.Count; i++) { <img
                                                src="~/@item.Service.ListImage[i].Image" alt="" width="60px"
                                                height="35px" style="margin-right: 1rem;">
                                                break;
                                                }
                                                <h4>@item.Service.Title</h4>
                                                <span class="float-right comp">COMPLETE</span>
                                        </li>
                                    </a>
                                    break;
                                    default:
                                    <a href="/Order?orderId=@item.OrderId">
                                        <li>
                                            @for (int i = 0; i < item.Service.ListImage.Count; i++) { <img
                                                src="~/@item.Service.ListImage[i].Image" alt="" width="60px"
                                                height="35px" style="margin-right: 1rem;">
                                                break;
                                                }
                                                <h4>@item.Service.Title</h4>
                                                <span class="float-right cancel">CANCEL</span>
                                        </li>
                                    </a>
                                    break;
                                    }
                                    }
                                </ul>
                                }
                                else
                                {
                                <div class="content-list-orders">
                                    <span class="svg-wrap"><svg viewBox="0 0 65 43">
                                            <g id="02H_XXS_Overview_empty_state_Admin" stroke="none" stroke-width="1"
                                                fill="none" fill-rule="evenodd"
                                                transform="translate(-127.000000, -235.000000)">
                                                <g id="Page-1-Copy" transform="translate(127.500000, 235.130859)"
                                                    fill="#555555" stroke="#555555">
                                                    <path
                                                        d="M61.4734762,36.4188379 C61.4734762,38.444238 59.8252552,40.0937507 57.7985634,40.0937507 L6.25807293,40.0937507 C4.23267284,40.0937507 2.58316014,38.444238 2.58316014,36.4188379 L2.58316014,16.4761389 L19.4360906,16.4761389 L19.4360906,20.8356576 C19.4360906,24.023596 22.0298428,26.6186399 25.2177812,26.6186399 L38.8388551,26.6186399 C42.0267935,26.6186399 44.6218374,24.023596 44.6218374,20.8356576 L44.6218374,16.4761389 L61.4734762,16.4761389 L61.4734762,36.4188379 Z M13.4864779,2.583806 L50.5701585,2.583806 L60.0048028,13.8927204 L43.3301282,13.8927204 C42.615813,13.8927204 42.0384189,14.4701144 42.0384189,15.1844296 L42.0384189,20.8356576 C42.0384189,22.6001324 40.60333,24.0352214 38.8388551,24.0352214 L25.2177812,24.0352214 C23.4533064,24.0352214 22.0195091,22.6001324 22.0195091,20.8356576 L22.0195091,15.1844296 C22.0195091,14.4701144 21.4408234,13.8927204 20.7277999,13.8927204 L4.05183355,13.8927204 L13.4864779,2.583806 Z M64.0220185,15.0126323 C64.0103931,14.9222127 64.0000595,14.8343764 63.9690584,14.7465402 C63.9380574,14.6612874 63.8889725,14.5889517 63.8411792,14.5114491 C63.8101782,14.4610725 63.7959694,14.4042373 63.7572181,14.356444 L52.1667111,0.464111131 C51.9199946,0.170893133 51.5570243,0.000387512773 51.1746784,0.000387512773 L12.8819579,0.000387512773 C12.499612,0.000387512773 12.1366417,0.170893133 11.8899252,0.464111131 L0.299418202,14.356444 C0.260666925,14.4042373 0.247749833,14.4610725 0.215457102,14.5114491 C0.16766386,14.5889517 0.118578908,14.6612874 0.0888695958,14.7465402 C0.0565768648,14.8343764 0.0462431909,14.9222127 0.0346178077,15.0126323 C0.0268675522,15.0707592 -0.000258341848,15.1237193 -0.000258341848,15.1844296 L-0.000258341848,36.4188379 C-0.000258341848,39.870285 2.80791755,42.6771691 6.25807293,42.6771691 L57.7985634,42.6771691 C61.2500105,42.6771691 64.0568947,39.870285 64.0568947,36.4188379 L64.0568947,15.1844296 C64.0568947,15.1237193 64.0297688,15.0707592 64.0220185,15.0126323 Z">
                                                    </path>
                                                </g>
                                            </g>
                                        </svg></span>
                                    <h3><b>No Orders Yet</b></h3>
                                    <p>Use the search box to find the digital services you need.</p>
                                </div>
                                }
                            </div>
                        </div>
                    </li>

                    @if(ViewBag.IsSeller == 1)
                    {
                    <li>
                        <a href="/Seller">
                          
                                <h4 style="color: #1dbf73;">Switch to Selling</h4>
                         
                        </a>
                    </li>
                    
                    <li>
                          <div class="prf-div">
                          @if(ViewBag.userAvatar == null)
                                {
                                <a href="/@ViewBag.UserName"><img class="img-profile" src="~/Images/avatardefault.png"
                                        alt="avatar"></a>
                                }
                                else
                                {
                                <a href="/@ViewBag.UserName"><img class="img-profile" src="~/@ViewBag.userAvatar"
                                        alt="avatar"></a>
                                }
                                <div class="dropdown-profile">
                                    <ul class="ul-dropdown-profile">
                                        <li><a href="/@ViewBag.UserName">Profile</a></li>
                                        <li><a href="/manager_request">Manage Request</a></li>
                                        <li><a href="/create_request">Post a Request</a></li>
                                        <li><a href="#">Setting</a></li>
                                        <li><a href="/Logout"><b>Logout</b></a></li>
                                    </ul>
                                </div>
                            </div>
                    </li>
                    }
                    else
                    {
                    <li>
                        <a href="/Seller">
                            <div class="prf-div">
                                @if(ViewBag.userAvatar == null)
                                {
                                <a href="/@ViewBag.UserName"><img class="img-profile" src="~/Images/avatardefault.png"
                                        alt="avatar"></a>
                                }
                                else
                                {
                                <a href="/@ViewBag.UserName"><img class="img-profile" src="~/@ViewBag.userAvatar"
                                        alt="avatar"></a>
                                }
                                  <div class="dropdown-profile">
                                    <ul class="ul-dropdown-profile">
                                        <li><a href="/@ViewBag.UserName">Profile</a></li>
                                        <li><a href="/manager_your_request">Manager Request</a></li>
                                        <li><a href="/create_request">Post a Request</a></li>
                                        <li><a href="#">Setting</a></li>
                                        <li><a href="/Logout" ><b>Logout</b></a></li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </li>
                    }
                </ul>
                <div id="tip" class="tip-orders">
                    <div class="Triangular"></div>
                    <div class="list-state">
                            @if(ViewBag.ListOrder != null)
                            {
                                <ul style="margin: 0px">
                                @foreach (var item in ViewBag.ListOrder)
                                {
                                    @if (@item.WorkStatus == 0)
                                    {
                                        <a href="/Order/Requirement?orderId=@item.OrderId">
                                            <li>
                                                @for (int i = 0; i < item.Service.ListImage.Count; i++) 
                                                { 
                                                    <img src="~/@item.Service.ListImage[i].Image" alt=""
                                                    width="60px" height="35px" style="margin-right: 1rem;">
                                                    break;
                                                }
                                                <h4>@item.Service.Title</h4>
                                                <span class="float-right incomp">INCOMPLETE</span>
                                            </li>
                                        </a>
                                    }
                                    else if (@item.WorkStatus == 1)
                                    {
                                        <a href="/Order?orderId=@item.OrderId">
                                            <li>
                                                @for (int i = 0; i < item.Service.ListImage.Count; i++) 
                                                { 
                                                    <img src="~/@item.Service.ListImage[i].Image" alt=""
                                                    width="60px" height="35px" style="margin-right: 1rem;">
                                                    break;
                                                }
                                                <h4>@item.Service.Title</h4>
                                                <span class="float-right proress">IN PRORESS</span>
                                            </li>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="/Order?orderId=@item.OrderId">
                                            <li>
                                                @for (int i = 0; i < item.Service.ListImage.Count; i++) 
                                                { 
                                                    <img src="~/@item.Service.ListImage[i].Image" alt=""
                                                    width="60px" height="35px" style="margin-right: 1rem;">
                                                    break;
                                                }
                                                <h4>@item.Service.Title</h4>
                                                <span class="float-right comp">COMPLETE</span>
                                            </li>
                                        </a>
                                    }
                                }
                                </ul>
                            }
                            else
                            {
                                <div class="content-list-orders">
                                <span class="svg-wrap"><svg viewBox="0 0 65 43"><g id="02H_XXS_Overview_empty_state_Admin" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-127.000000, -235.000000)"><g id="Page-1-Copy" transform="translate(127.500000, 235.130859)" fill="#555555" stroke="#555555"><path d="M61.4734762,36.4188379 C61.4734762,38.444238 59.8252552,40.0937507 57.7985634,40.0937507 L6.25807293,40.0937507 C4.23267284,40.0937507 2.58316014,38.444238 2.58316014,36.4188379 L2.58316014,16.4761389 L19.4360906,16.4761389 L19.4360906,20.8356576 C19.4360906,24.023596 22.0298428,26.6186399 25.2177812,26.6186399 L38.8388551,26.6186399 C42.0267935,26.6186399 44.6218374,24.023596 44.6218374,20.8356576 L44.6218374,16.4761389 L61.4734762,16.4761389 L61.4734762,36.4188379 Z M13.4864779,2.583806 L50.5701585,2.583806 L60.0048028,13.8927204 L43.3301282,13.8927204 C42.615813,13.8927204 42.0384189,14.4701144 42.0384189,15.1844296 L42.0384189,20.8356576 C42.0384189,22.6001324 40.60333,24.0352214 38.8388551,24.0352214 L25.2177812,24.0352214 C23.4533064,24.0352214 22.0195091,22.6001324 22.0195091,20.8356576 L22.0195091,15.1844296 C22.0195091,14.4701144 21.4408234,13.8927204 20.7277999,13.8927204 L4.05183355,13.8927204 L13.4864779,2.583806 Z M64.0220185,15.0126323 C64.0103931,14.9222127 64.0000595,14.8343764 63.9690584,14.7465402 C63.9380574,14.6612874 63.8889725,14.5889517 63.8411792,14.5114491 C63.8101782,14.4610725 63.7959694,14.4042373 63.7572181,14.356444 L52.1667111,0.464111131 C51.9199946,0.170893133 51.5570243,0.000387512773 51.1746784,0.000387512773 L12.8819579,0.000387512773 C12.499612,0.000387512773 12.1366417,0.170893133 11.8899252,0.464111131 L0.299418202,14.356444 C0.260666925,14.4042373 0.247749833,14.4610725 0.215457102,14.5114491 C0.16766386,14.5889517 0.118578908,14.6612874 0.0888695958,14.7465402 C0.0565768648,14.8343764 0.0462431909,14.9222127 0.0346178077,15.0126323 C0.0268675522,15.0707592 -0.000258341848,15.1237193 -0.000258341848,15.1844296 L-0.000258341848,36.4188379 C-0.000258341848,39.870285 2.80791755,42.6771691 6.25807293,42.6771691 L57.7985634,42.6771691 C61.2500105,42.6771691 64.0568947,39.870285 64.0568947,36.4188379 L64.0568947,15.1844296 C64.0568947,15.1237193 64.0297688,15.0707592 64.0220185,15.0126323 Z"></path></g></g></svg></span>
                                <h3><b>No Orders Yet</b></h3>
                                <p>Use the search box to find the digital services you need.</p>
                                </div>
                            }
                    </div>
                </div>
            </div>
        </div>


        <div class="nav-categories">
            <ul class="ul-categories container">
                @if(ViewBag.listcategory != null)
                {
                @foreach (var item in ViewBag.listcategory)
                {
                <li class="li-categories">
                    <a href="" class="categories-link">@item.CategoryName</a>
                    <ul class="ul-package">
                        @if(item.subsCategory != null)
                        {
                        @foreach (var subsCategory in item.subsCategory)
                        {
                        <li class="li-package">
                            <a href="/Home/Search?search_content=@subsCategory.CategoryName"
                                class="a-package">@subsCategory.CategoryName</a>
                        </li>
                        }
                        }
                    </ul>
                </li>
                }
                }
            </ul>
        </div>

        @RenderBody()
        <div class="footer">
            <div class="container">

                <div class="footer-content-wrapper">
                    <div class="footer-content">
                        <button class="btn-footer-link">Categories</button>
                        <ul class="ul-footer-link">
                            @if(ViewBag.listcategory!= null)
                            { @foreach(var item in ViewBag.listcategory ) {
                            <li class="li-footer-content">
                                <a href="#">@item.CategoryName</a>
                            </li>
                            } }
                        </ul>
                    </div>

                    <div class="footer-content">
                        <button class="btn-footer-link">About</button>
                        <ul class="ul-footer-link">
                            <li class="li-footer-content"><a href="#">Careers</a></li>
                            <li class="li-footer-content">
                                <a href="#">Press & News</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="">Partnerships</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="">Privacy Policy</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="">Terms of Service</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="">Intellectual Property</a>
                            </li>
                            <li class="li-footer-content"><a href="">Claims</a></li>
                            <li class="li-footer-content">
                                <a href="">Investor Relations</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footer-content">
                        <button class="btn-footer-link">Support</button>
                        <ul class="ul-footer-link">
                            <li class="li-footer-content">
                                <a href="#">Help & Support</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="#">Trust & Safety</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="">Selling on VTC Freelancer</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="">Buying on VTC Freelancer</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-content">
                        <button class="btn-footer-link">Community</button>
                        <ul class="ul-footer-link">
                            <li class="li-footer-content">
                                <a href="#">Events</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="#">Blog</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="">Forum</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="">Podcast</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="">Affiliates</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="">Invite a Friend</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="">Become a Seller</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-content">
                        <button class="btn-footer-link">More From VTC Freelancer</button>
                        <ul class="ul-footer-link">

                            <li class="li-footer-content">
                                <a href="#"> VTC Freelancer Studios</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="">Get Inspired</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="">ClearVoice</a>
                                <br />
                                <small>Content Marketing</small>
                            </li>
                            <li class="li-footer-content">
                                <a href="#">AND CO</a><br />
                                <small>Invoice Software</small>
                            </li>
                            <li class="li-footer-content">
                                <a href="">Learn</a><br />
                                <small>Online Courses</small>
                            </li>
                            <li class="li-footer-content">
                                <a href=""> VTC Freelancer Elevate</a><br />
                                <small>Exclusive Benefits</small>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="smail-content">
                    <div class="hiden-btn">

                    </div>
                    <div class="logo">
                        <a href="#">VTC Freelancer</a>
                    </div>
                    <div class="privacy">
                        <a href="">Privacy Policy</a>|
                        <a href="">Terms of Service
                            <br />
                            <span><small>© VTC Freelancer International Ltd. 2019</small></span></a>
                    </div>
                </div>
                <!-- <hr /> -->
                <div class="footer-icon">
                    <ul>
                        <li class="li-footer-icon">
                            <a href=""></a>
                        </li>
                        <li class="li-footer-icon">
                            <a href=""></a>
                        </li>
                        <li class="li-footer-icon">
                            <a href=""></a>
                        </li>
                        <li class="li-footer-icon">
                            <a href=""></a>
                        </li>
                        <li class="li-footer-icon">
                            <a href=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        var dmm = document.getElementById('icon-menu');
        dmm.addEventListener('click', () => {
            var loz = document.getElementById('hidden-div');
            loz.classList.toggle('animate');
            var all = document.getElementById('wrapper-all');
            all.classList.toggle('animate');
        })
        var body = document.getElementById('wrapper-all');
        body.addEventListener('click', () => {
            var div = document.getElementById('hidden-div');
            div.classList.remove('animate');
            body.classList.remove('animate')
        })
        $("#display-tipOrder").click(e => {
            $("#tip").show();
            e.stopPropagation();
        });
        $(document).click(() => {
            $("#tip").hide();
        });
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/slide.js" asp-append-version="true"></script>
</body>

</html>