@{
ViewData["Title"] = "List Offers";
Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container offer__container">
    <div class="wrap">
        <header class="header__offer">
            <div class="title__view-offer">
                <h1>View offers</h1><span>( @ViewBag.request.QuantityOffers Offers )</span>
            </div>
            <a href="/manager_request" class="title__backto-request">Back to Manage Requests</a>
        </header>
        <div class="wrap__my-request">
            <div class="request__avatar">
                @if(ViewBag.userAvatar == null)
                {
                <a href="/@ViewBag.UserName"><img class="img-profile" src="~/Images/avatardefault.png" alt="avatar"></a>
                }
                else
                {
                <a href="/@ViewBag.UserName"><img class="img-profile" src="~/@ViewBag.userAvatar" alt="avatar"></a>
                }
            </div>
            <div class="request__detail">
                <h3>My Request</h3>
                <p>@ViewBag.request.Description</p>
                <ul>
                    <li>
                        <i class="fa fa-clock-o"></i>
                        <span>@ViewBag.request.DeliveredTime days Delivery</span>
                    </li>
                    <li>
                        <i class="fa fa-usd"></i>
                        <span>Budget: $@ViewBag.request.Budget</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="request__sort">
            Sort offers by
            <select name="" id="">
                <option value="">date</option>
                <option value="">price</option>
                <option value="">delivery time</option>
                <option value="">rating</option>
                <option value="">reviews</option>
            </select>
        </div>
        @foreach(var offer in ViewBag.listOffers){
            <div class="offer__row">
                <a href="/Gig/ServiceDetail?serviceId=@offer.Service.ServiceId" class="slide-gig-css slide-gig-js">
                    @foreach (var imageService in @offer.Service.ListImage)
                    {
                    <img src="~/@imageService.Image" alt="" class="slider__gig-image">
                    }
                </a>
                <div class="offer_detail">
                    <div class="seller__info">
                        <div class="seller__info-wrap">
                            <a href="/@offer.users.UserName">
                                @if(offer.users.Avatar == null)
                                {
                                    <img src="~/Images/avatardefault.png" alt="">
                                }
                                else
                                {
                                    <img src="@offer.users.Avatar" alt="">
                                }
                            </a>
                            <div class="seller__info-detail">
                                <div class="seller__name"><a href="/@offer.users.UserName">@offer.users.UserName</a></div>
                                <i class="fa fa-envelope"></i>
                                <a href="">Contact me</a>
                            </div>
                        </div>
                    </div>
                    <div class="offer__detail">
                        <div class="offer__detail-title">@offer.Service.Title</div>
                        <div class="offer__detail-content">@offer.Description</div>
                    </div>
                    <div class="offer__action">
                        <a href="/Gig/ServiceDetail?serviceId=@offer.Service.ServiceId" class="offer__action-order">Order Now</a>
                    </div>

                </div>
            </div>
        }

        <!-- <div class="offer__row">
            <a href="/Gig/ServiceDetail?serviceId=1" class="slide-gig-css slide-gig-js">
                @* @foreach (var imageService in service.ListImage)
                {
                <img src="~/@imageService.Image" alt="" class="slider__gig-image">

                } *@
                <img src="~/Images/avatardefault.png" alt="" class="slider__gig-image">
            </a>
            <div class="offer_detail">
                <div class="seller__info">
                    <div class="seller__info-wrap">
                        <img src="~/Images/avatardefault.png" alt="">
                        <div class="seller__info-detail">
                            <div class="seller__name">rajnishbaldha</div>
                            <i class="fa fa-envelope"></i>
                            <a href="">Contact me</a>
                        </div>
                    </div>
                    <div class="offer__price">$100</div>
                </div>
                <div class="offer__detail">
                    <div class="offer__detail-title">Edit html and css on your webpage</div>
                    <div class="offer__detail-content">I am a full stack developer, software programmer and
                        professional
                        linux system administrator.
                        I am expert and experienc...
                    </div>
                    <div class="offer__detail-delivery">
                        <i class="fa fa-clock-o"></i>
                        3 days Delivery
                    </div>
                </div>
                <div class="offer__action">
                    <a href="" class="offer__action-remove">Remove Offer</a>
                    <a href="" class="offer__action-order">Order Now</a>
                </div>

            </div>
        </div> -->
    </div>
</div>
<script>
    $('.slide-gig-js').slick({
        infinite: true,
        prevArrow: `<i class="fa fa-chevron-left arrowSlide arrowSlide-left"></i>`,
        nextArrow: `<i class="fa fa-chevron-right arrowSlide arrowSlide-right"></i>`,
        slidesToShow: 1,
        slidesToScroll: 1
    });
    $('.arrowSlide').click((e) => {
        e.preventDefault();
    })
</script>