@{
ViewData["Title"] = "EditProfile";
    @if(ViewBag.UserLoged == null)
    {
    Layout = "~/Views/Shared/_login.cshtml";
    }
    else
    {
        @if(ViewBag.userProfile.UserName == ViewBag.UserLoged)
        {
            Layout = "~/Views/Shared/_SellerLayout.cshtml";
        }
        else{
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
    }

}

<div class="container body-content">

    <div class="left-content ">
        <div class="content-wrapper content">
            <div class="container-profile">
                <div class="profile-wrapper">
                    <label class="change-profile">
                      
                            @if(ViewBag.userProfile.UserName == ViewBag.UserLoged)
                            {
                            <input type="file" class="hiden" accept="image/png,image/jpeg">
                            }
                             @if(ViewBag.userProfile.Avatar == null)
                                {
                                    <img class="img-profile-menu" src="~/Images/avatardefault.png" alt="avatar">
                                }
                            else
                                {
                                    <img class="img-profile-menu" src="~/@ViewBag.userProfile.Avatar" alt="avatar">
                                }
                    </label>
                    <br>
                    <br>
                    <p class="username back-content">@ViewBag.userProfile.UserName</p>
                    <br>
                </div>
            </div>
            <div class="content-detail-user">
                <span class="ft-left"><i class="fa fa-street-view"></i> From</span>
                <b class="ft-right">@ViewBag.userProfile.Country</b>
            </div>
            <br>
            <div class="content-detail-user">
                <span class="ft-left"><i class="fa fa-user"></i> Member since</span>
                <b class="ft-right">@ViewBag.userProfile.RegisterDate</b>
            </div>
        </div>
        <div class="description-user content content-wrapper">
            <div class="content-detail-user">
                <span class="ft-left"><b>Description</b></span>
                @if(ViewBag.userProfile.UserName == ViewBag.UserLoged)
                {
                <a class="ft-right" onclick="openFormDescription()" style="cursor: pointer;">Edit Description</a>
                }

                <br>
            </div>
            @if (@ViewBag.sellerprofile != null )
            {
            <div class="content-detail-user" id="description">
                <p>
                    @ViewBag.sellerprofile.Description
                </p>
            </div>
            }
        </div>
    </div>
    <div class="right-content right-profile">
        @if (ViewBag.userProfile.UserName == ViewBag.UserLoged) {
        <div class="content-wrapper content">
            <div class="tab">
                <button class="tab-gig back-content" onclick="OpenGigs(event, 'Active-Gig')">Active-Gigs</button>
                <button class="tab-gig back-content" onclick="OpenGigs(event, 'Drafts')">Drafts</button>
            </div>
            <div id="Active-Gig" class="list-gigs">
                @if(@ViewBag.listServiceProfile != null)
                {
                @foreach (var service in ViewBag.listServiceProfile)
                {
                @if(service.Status == 2)
                {
                <div class="slider__gig">
                    <a href="" class="slide-gig-css slide-gig-js">
                        @if(service.ListImage != null)
                        {
                        @foreach (var imageService in service.ListImage)
                        {
                        <img src="~/@imageService.Image" alt="" class="slider__gig-image">
                        }
                        }
                    </a>
                    <div class="gig__content">
                        <div class="slider__gig-seller">
                            <span class="gig__seller-avatar">
                                <img src="~/images/avatar-user1.png" alt="">
                            </span>
                            <div class="gig__seller-info">
                                <a href="">@service.Seller.User.UserName</a>
                            </div>
                        </div>
                        <a href="" class="slider__gig-title">
                            <h3>@service.Title</h3>
                        </a>
                        <div class="slider__gig-star">
                            <i class="fa fa-star"></i>
                            <span class="gig__star-number">5.0</span>
                            <span class="gig__star-user-star">(100)</span>
                        </div>
                    </div>
                    <div class="slider__gig-footer">
                        <div class="gig-fav">
                            <i class="fa fa-bars"></i>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="gig-price">
                            <small>Starting At</small>
                            $25
                        </div>
                    </div>
                </div>
                }
                }
                }
            </div>
            @if (ViewBag.userProfile.UserName == ViewBag.UserLoged) {
            <div id="Drafts" class="list-gigs" style="flex-wrap:wrap;padding:0;">
                @if(@ViewBag.listServiceProfile != null)
                {
                @foreach (var service in ViewBag.listServiceProfile)
                {
                @if(service.Status == 1)
                {
                <div class="slider__gig">
                    <a href="" class="slide-gig-css slide-gig-js">
                        @if(service.ListImage != null)
                        {

                        @foreach (var imageService in service.ListImage)
                        {
                        <img src="~/@imageService.Image" alt="" class="slider__gig-image" width="230">
                        }
                        }
                    </a>
                    <div class="gig__content">
                        <div class="slider__gig-seller">
                            <span class="gig__seller-avatar">
                                <img src="~/images/avatar-user1.png" alt="">
                            </span>
                            <div class="gig__seller-info">
                                <a href="">@service.Seller.User.UserName</a>
                            </div>
                        </div>
                        <a href="" class="slider__gig-title">
                            <h3>@service.Title</h3>
                        </a>
                        <div class="slider__gig-star">
                            <i class="fa fa-star"></i>
                            <span class="gig__star-number">5.0</span>
                            <span class="gig__star-user-star">(100)</span>
                        </div>
                    </div>
                    <div class="slider__gig-footer">
                        <div class="gig-fav">
                            <i class="fa fa-bars"></i>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="gig-price">
                            <small>Starting At</small>
                            $25
                        </div>
                    </div>
                </div>
                }
                }
                }
            </div>
            }

        </div>
        }
        else
        {
        <div class="list-gigs1">
            @if(@ViewBag.listServiceProfile != null)
            {
            @foreach (var service in ViewBag.listServiceProfile)
            {
            @if(service.Status == 1)
            {
            <div class="slider__gig">
                <a href="" class="slide-gig-css slide-gig-js">
                    @if(service.ListImage != null)
                    {
                    @foreach (var imageService in service.ListImage)
                    {
                    <img src="~/@imageService.Image" alt="" class="slider__gig-image">
                    }
                    }
                </a>
                <div class="gig__content">
                    <div class="slider__gig-seller">
                        <span class="gig__seller-avatar">
                            <img src="~/images/avatar-user1.png" alt="">
                        </span>
                        <div class="gig__seller-info">
                            <a href="">@service.Seller.User.UserName</a>
                        </div>
                    </div>
                    <a href="" class="slider__gig-title">
                        <h3>@service.Title</h3>
                    </a>
                    <div class="slider__gig-star">
                        <i class="fa fa-star"></i>
                        <span class="gig__star-number">5.0</span>
                        <span class="gig__star-user-star">(100)</span>
                    </div>
                </div>
                <div class="slider__gig-footer">
                    <div class="gig-fav">
                        <i class="fa fa-bars"></i>
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="gig-price">
                        <small>Starting At</small>
                        $25
                    </div>
                </div>
            </div>
            }
            }
            }
        </div>
        }
    </div>
    <!-- <form method="post">
        <textarea name="description-content" id="" cols="30" rows="10"></textarea>
        <input type="button">
    </form> -->
</div>

@if (ViewBag.userProfile.UserName == ViewBag.UserLoged) {
<script>
    $('.arrowSlide').click((e) => {
        e.preventDefault();
    })

    function OpenGigs(event, typeGig) {

        var listGigs = document.getElementsByClassName('list-gigs');
        for (let i = 0; i < listGigs.length; i++) {
            listGigs[i].style.display = "none";
        }
        var tabGig = document.getElementsByClassName('tab-gig');
        for (let i = 0; i < tabGig.length; i++) {
            tabGig[i].className = tabGig[i].className.replace(" active", "");
        }
        document.getElementById(typeGig).style.display = "grid";
        event.currentTarget.className += " active";
        $('.slide-gig-js').slick({
            infinite: true,
            prevArrow: `<i class="fa fa-chevron-left arrowSlide arrowSlide-left"></i>`,
            nextArrow: `<i class="fa fa-chevron-right arrowSlide arrowSlide-right"></i>`,
            slidesToShow: 1,
            slidesToScroll: 1
        });
    }
    var flag = true;
    function openFormDescription() {

        if (flag == true) {
            document.getElementById('description').innerHTML = "<textarea name=" + 'description' + " id='text-description' cols='100' rows='10' >@ViewBag.sellerprofile.Description</textarea>"
                + "<input class=" + 'btn-edit' + " onclick=" + 'openFormDescription()' + " type='button' value='Cancel'/>" + "<input id=" + 'bgc-key' + " class=" + 'btn-edit' + " type='submit' value='Update'/>";
            flag = false;
        }
        else {
            document.getElementById('description').innerHTML = " <p>@ViewBag.sellerprofile.Description </p > ";
            flag = true;
        }
        $('#bgc-key').click(() => {
            let description = $('#text-description')[0].value;
            document.getElementById('description').innerHTML = description;
            flag = true;
            $.ajax({
                type: "POST",
                data: {
                    description: description
                },
                url: "/seller/UpdateDescription",
                success: function (result) {
                    console.log(result);
                }
            });
        });
    }
</script>
}
<script>
    let base64 = [];
    document.querySelectorAll('.hiden').forEach((ip, index) => {
        ip.addEventListener('change', function () {
            if (this.files && this.files[0]) {
                var img = document.querySelectorAll('.img-profile-menu')[index]; // $('img')[0]
                img.src = URL.createObjectURL(this.files[0]); // set src to blob url
                img.onload = imageIsLoaded(this.files, img.src);
            }
            function imageIsLoaded(files, imgSrc) {
                var data = new FormData();
                for (var i = 0; i < files.length; i++) {
                    data.append(files[i].name, files[i]);
                }
                $.ajax({
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: data,
                    url: "/User/UploadImage",
                    success: function (result) {
                        $('#img-prf')[0].src = imgSrc;
                        console.log(result);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
        });
    })



</script>

<script>

	$(document).ready(function () {
		$(".box-row__slider").slick({
			infinite: true,
			slidesToShow: 5,
			slidesToScroll: 5,
			centerPadding: '60px',
			prevArrow: `<button type="button" class="slick-prev fa fa-angle-left" ></button>`,
			nextArrow: `<button type="button" class="slick-prev fa fa-angle-right"></button>`, responsive: [
				{
					breakpoint: 1024,
					settings: {
						slidesToShow: 3,
						slidesToScroll: 3,
						infinite: true,
					}
				},
				{
					breakpoint: 600,
					settings: {
						slidesToShow: 2,
						slidesToScroll: 2
					}
				},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 1,
						slidesToScroll: 1
					}
				}
				// You can unslick at a given breakpoint now by adding:
				// settings: "unslick"
				// instead of a settings object
			]
		});
		$('.slide-gig-js').slick({
			infinite: true,
			prevArrow: `<i class="fa fa-chevron-left arrowSlide arrowSlide-left"></i>`,
			nextArrow: `<i class="fa fa-chevron-right arrowSlide arrowSlide-right"></i>`,
			slidesToShow: 1,
			slidesToScroll: 1
		});
		$('.arrowSlide').click((e) => {
			e.preventDefault();
		})

	});

</script>