@if(ViewBag.UserName == null)
{
ViewData["Title"] = "EditProfile";
Layout = "~/Views/Shared/_Login.cshtml";
}
else
{
ViewData["Title"] = "EditProfile";
Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function Onscroll() {
  console.log("dcmmm");
  var price = document.getElementById("price-detail");
  if ((price.scrollTop() = 200)) {
    console.log(price.scrollTop() + "px");
  }
}
</script>
<div class="bars-service-detail container">
    <div class="bars-item">
        <a href="/Gig/Report"
            onclick="SetServiceIdToModal(@ViewBag.serviceDetail.ServiceId, @ViewBag.serviceDetailUser.UserId)">
            <i style="color: black;" class="fa fa-flag"></i>
        </a>

    </div>
    <div class="bars-item"><a href="#"><i style="color: black;" class="fa fa-share"></i></a><small>Share</small></div>
</div>
<div class="flex container">
    <div class="left-detail-content">
        <div class="wrapper-serive-detail">
            <!-- Đồng chí nào làm back-end Select data của service ở đây -->
            <h1 class="back-content">
                @ViewBag.serviceDetail.Title
            </h1>

            <br>
            <div class="contain-username">
                @if(ViewBag.serviceDetailUser.Avatar == null)
                {
                <a href="/@ViewBag.serviceDetailUser.UserName"> <img class="img-profile"
                        src="~/Images/avatardefault.png" alt="avatar"></a>
                }
                else
                {
                <a href="/@ViewBag.serviceDetailUser.UserName"> <img class="img-profile"
                        src="~/@ViewBag.serviceDetailUser.Avatar" alt="avatar"></a>
                }
                <b class="back-content">
                    @ViewBag.serviceDetailUser.UserName
                </b>
                <a href="">Số sao(Số người rate)</a>
            </div>
        </div>
        <div class="slide-section">
            <div class="slideshow-container">
                <div class="w3-content">
                    @foreach(var item in @ViewBag.ImageService)
                    {
                    <div class="mySlides1 fade">
                        <img src="~/@item.Image" width="100%" style="box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);">
                    </div>
                    }
                    <button class="prev btn-slide" onclick="plusDivs(-1)">&#10094;</button>
                    <button class="next btn-slide" onclick="plusDivs(1)">&#10095;</button>
                </div>



            </div>
        </div>
        <br>
        <br>
        <h2 class="about-gig back-content">About This Gig</h2>
        <br>
        <p>@ViewBag.serviceDetail.Description</p>
        <br><br>
        <h2 class="back-content">About Seller</h2>
        <br>
        <div class="about-seller">
            <div class="avatar-seller">
                @if(ViewBag.serviceDetailUser.Avatar == null)
                {
                <a href="/@ViewBag.serviceDetailUser.UserName"> <img class="img-seller" src="~/Images/avatardefault.png"
                        alt="avatar"></a>
                }
                else
                {
                <a href="/@ViewBag.serviceDetailUser.UserName"> <img class="img-seller"
                        src="~/@ViewBag.serviceDetailUser.Avatar" alt="avatar"> </a>
                }
            </div>
            <div class="contact-with-seller">
                <b><a href="/@ViewBag.serviceDetailUser.UserName">@ViewBag.serviceDetailUser.UserName</a></b>
                <p>So' sao</p>
                <button class="btn-contact-me">Contact me</button>
            </div>
        </div>
        <div class="wrapper-table-compare">
            <h2 class="black-content">Compare Package</h2>
            <table>
                <tbody>
                    <tr class="tr-package">
                        <th class="th-package">Package</th>
                        <td class="td-package">
                            @if(ViewBag.PackagePremium != null)
                            {
                            <p class="price">@ViewBag.PackagePremium.Price</p>
                            <h3 class="type"><b>Premium</b></h3>
                            <br>
                            <b class="title">@ViewBag.PackagePremium.Title</b>
                            }
                        </td>
                        <td class="td-package">
                            @if(ViewBag.PackageStandard != null)
                            {
                            <p class="price">@ViewBag.PackageStandard.Price</p>
                            <h3 class="type"><b>Standard</b></h3>
                            <br>
                            <b class="title">@ViewBag.PackageStandard.Title</b>
                            }
                        </td>
                        <td class="td-package">
                            @if(ViewBag.PackageBasic != null)
                            {
                            <p class="price">@ViewBag.PackageBasic.Price</p>
                            <h3 class="type"><b>Basic</b></h3>
                            <br>
                            <b class="title">@ViewBag.PackageBasic.Title</b>
                            }
                        </td>
                    </tr>
                    <tr class="description tr-package">
                        <td class="td-package"></td>
                        <td class="td-package">
                            @if(ViewBag.PackagePremium != null)
                            {
                            <p>@ViewBag.PackagePremium.Description</p>
                            }
                        </td>
                        <td class="td-package">
                            @if(ViewBag.PackageStandard != null)
                            {
                            <p>@ViewBag.PackageStandard.Description</p>
                            }
                        </td>
                        <td class="td-package">
                            @if(ViewBag.PackageBasic != null)
                            {
                            <p>@ViewBag.PackageBasic.Description</p>
                            }
                        </td>
                    </tr>
                    <tr class="tr-package">
                        <th class="th-package">Revisions</th>
                        <td class="td-package">
                            @if(ViewBag.PackagePremium != null)
                            {
                            <p>@ViewBag.PackagePremium.NumberRevision</p>
                            }
                        </td>
                        <td class="td-package">
                            @if(ViewBag.PackageStandard != null)
                            {
                            <p>@ViewBag.PackageStandard.NumberRevision</p>
                            }
                        </td>
                        <td class="td-package">
                            @if(ViewBag.PackageBasic != null)
                            {
                            <p>@ViewBag.PackageBasic.NumberRevision</p>
                            }
                        </td>
                    </tr>
                    <tr class="tr-package">
                        <th class="th-package">Delevery Time</th>
                        <td class="td-package">
                            @if(ViewBag.PackagePremium != null)
                            {
                            <p>@ViewBag.PackagePremium.DeliveryTime Days</p>
                            }
                        </td>
                        <td class="td-package">
                            @if(ViewBag.PackageStandard != null)
                            {
                            <p>@ViewBag.PackageStandard.DeliveryTime Days</p>
                            }
                        </td>
                        <td class="td-package">
                            @if(ViewBag.PackageBasic != null)
                            {
                            <p>@ViewBag.PackageBasic.DeliveryTime Days</p>
                            }
                        </td>
                    </tr>
                    <tr class="tr-package">
                        <th class="th-package">Total</th>
                        <td class="total-price">
                            @if(ViewBag.PackagePremium != null)
                            {
                            <p class="price">@ViewBag.PackagePremium.Price $</p>
                            <button class="btn-continue btn-prc-detail"
                                onclick="window.location.href='/Customize/Order?PackageId=@ViewBag.PackagePremium.PackageId'">Select</button>
                            }
                        </td>
                        <td class="total-price">
                            @if(ViewBag.PackageStandard != null)
                            {
                            <p class="price">@ViewBag.PackageStandard.Price $</p>
                            <button class="btn-continue btn-prc-detail"
                                onclick="window.location.href='/Customize/Order?PackageId=@ViewBag.PackageStandard.PackageId'">Select</button>
                            }
                        </td>
                        <td class="total-price">
                            @if(ViewBag.PackageBasic != null)
                            {
                            <p class="price">@ViewBag.PackageBasic.Price $</p>
                            <button class="btn-continue btn-prc-detail"
                                onclick="window.location.href='/Customize/Order?PackageId=@ViewBag.PackageBasic.PackageId'">Select</button>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="right-detail-content">
        <div class="wrapper-price-detail" id="price-detail" onscroll="Onscroll()">

            <div class="w3-bar w3-black">
                <button class="w3-bar-item w3-button brg" onclick="openCity(event,'London')">Premium</button>
                <button class="w3-bar-item w3-button" onclick="openCity(event,'Paris')">Standard</button>
                <button class="w3-bar-item w3-button" onclick="openCity(event,'Tokyo')">Basic</button>
            </div>

            <div id="London" class="w3-container city">
                <div class="content-price">
                    @if(ViewBag.PackagePremium != null)
                    {
                    <h3 class="back-content">@ViewBag.PackagePremium.Title</h3>
                    <br>
                    <p class="price-detail-content">@ViewBag.PackagePremium.Description</p>
                    <br>
                    <div class="Delivery"><i class="fa fa-history"></i>
                        <p>@ViewBag.PackagePremium.DeliveryTime Days Delivery</p>
                    </div>
                    <br>
                    <button class="btn-continue btn-prc-detail"
                        onclick="window.location.href='/Customize/Order?PackageId=@ViewBag.PackagePremium.PackageId'">Continue</button>
                    }
                </div>
            </div>

            <div id="Paris" class="w3-container city" style="display:none">
                <div class="content-price">
                    @if(ViewBag.PackageStandard != null)
                    {
                    <h3 class="back-content">@ViewBag.PackageStandard.Title</h3>
                    <br>
                    <p class="price-detail-content">@ViewBag.PackageStandard.Description</p>
                    <br>
                    <div class="Delivery"><i class="fa fa-history"></i>
                        <p>@ViewBag.PackageStandard.DeliveryTime Days Delivery</p>
                    </div>
                    <br>
                    <button class="btn-continue btn-prc-detail"
                        onclick="window.location.href='/Customize/Order?PackageId=@ViewBag.PackageStandard.PackageId'">Continue</button>
                    }
                </div>
            </div>

            <div id="Tokyo" class="w3-container city" style="display:none">
                <div class="content-price">
                    @if(ViewBag.PackageBasic != null)
                    {
                    <h3 class="back-content">@ViewBag.PackageBasic.Title</h3>
                    <br>
                    <p class="price-detail-content">@ViewBag.PackageBasic.Description</p>
                    <br>
                    <div class="Delivery"><i class="fa fa-history"></i>
                        <p>@ViewBag.PackageBasic.DeliveryTime Days Delivery</p>
                    </div>
                    <br>
                    <button class="btn-continue btn-prc-detail"
                        onclick="window.location.href='/Customize/Order?PackageId=@ViewBag.PackageBasic.PackageId'">Continue</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides1");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>