@model Package;
@{
ViewData["Title"] = "Create new order";
Layout = "~/Views/Shared/_Order.cshtml";
}
<div class="nav-step step-order container">
  <nav>
    <ul class="ul-step">
      <li class="wrapper-li-step">
        <div class="wrapper-logo">
          <i id="icon-menu" class="fa fa-bars"></i>
          <div class="logo">
            <a href="/">VTC Freelancer</a>
          </div>
        </div>
      </li>
      <li class="wrapper-li-step">
        <div class="li-step" style="background-color: #1dbf73;">1</div>
        <div class="li-content" style="color: #1dbf73;">Order Detail</div>
        <span style="margin-left: 10px;">></span>
      </li>
      <li class="wrapper-li-step">
        <div class="li-step">2</div>
        <div class="li-content">Confirm & Pay</div>
        <span style="margin-left: 10px;">></span>
      </li>
      <li class="wrapper-li-step">
        <div class="li-step">3</div>
        <div class="li-content">Submit Requirements </div>
      </li>

    </ul>
  </nav>
</div>
<form action="Order?PackageId=@Model.PackageId" method="POST">
  <div class="container-inner body-order font-size-14">
  <div class="right-content">
    <h1 class="back-content cutomemize-your-package">Customize Your Package</h1>
    <div class="summary">
      <div class="gig-summary">
        @for (int i = 0; i < Model.Service.ListImage.Count; i++) 
        { <a href="/Gig/ServiceDetail?serviceId=@Model.ServiceId"><img src="~/@Model.Service.ListImage[i].Image" alt=""
            width="200px" style="margin: 0rem 1rem 0rem 1rem;"></a>
          break;
        }
          <div>
            <a href="/Gig/ServiceDetail?serviceId=@Model.ServiceId" style="font-weight: bold;">
              <h2 class="back-content">@Model.Service.Title</h2>
            </a>
            <br>
            <p>Dồng chí nào để rating vào đây</p>
            <br>
            <br>
            <!-- <a href="#" style="color: #1dbf73;">View What's include</a> -->
          </div>
      </div>
      <div class="pricing"><label class="quantity"><span>Qty</span>
          <select id="sect" onchange="onSelect()" name="selectQuantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <br>
          </select>
        </label>
        <span>
          <b id="preview-price">@(Model.Price * ViewBag.Quantity) $</b>
        </span>
      </div>

    </div>
    <div>
      <br>
      <ul>
        <li class="li-detail-order"><span class="span-detail-order">✔ </span> @Model.DeliveryTime Days Delivery</li>
        <li class="li-detail-order"><span class="span-detail-order">✔ </span> @Model.NumberRevision Revision</li>
      </ul>
    </div>
  </div>
  <div class="left-content">
    <div class="wrapper-order-content">
      <h2 class="back-content">Summary</h2>
      <br>
      <div><span>Subtotal</span><span class="float-right" id="basic-price">@(Model.Price * ViewBag.Quantity) $</span>
      </div>
      <br>
      <div>
        <div>
          <div><span>Service Fee</span><span class="float-right" id="sub-price">@(Model.Price * ViewBag.Quantity * 20
              /
              100) $</span></div>
          <br>
        </div>
      </div>
      <br>
      <div><span><b>Total</b></span><span id="totle-price" class="float-right"><b>@(Model.Price * ViewBag.Quantity +
            (@Model.Price * ViewBag.Quantity * 20/100)) $</b></span>
      </div>
      <br>

      <div><span>Delivery Time</span><span>
          <span class="float-right">@Model.DeliveryTime Days</span></span></div>
      <div>
        <br>
        <div>
          <button class="btn-continue btn-prc-detail">Order Now</button>
            <div class="cta-comment">You won't be charged yet</div>
        </div>
      </div>
    </div>
  </div>
  </div>
</form>

<script>
  var totle = document.getElementById('totle-price');
  var subb = document.getElementById('sub-price');
  var basic = document.getElementById('basic-price');
  var sec = document.getElementById('sect');
  var previewPrice = document.getElementById('preview-price');
  var option = document.getElementsByTagName("option");
  var order = document.getElementById("button-odNow");
  function onSelect() {
    var optionhtml = sec[sec.selectedIndex].text;
    previewPrice.innerHTML = @Model.Price * optionhtml + "$";
    basic.innerHTML = @Model.Price * optionhtml + "$";
    subb.innerHTML = @(Model.Price * 20 / 100) * optionhtml + "$";
    totle.innerHTML = @Model.Price * optionhtml + @(Model.Price * 20 / 100) * optionhtml + "$";
    order.href = `/Order/Payment?PackageId=@Model.PackageId&Quantity=${optionhtml}`;
  }

</script>