@model Orders;
@{
ViewData["Title"] = "Requirement";
Layout = "~/Views/Shared/_Order.cshtml";
}
<div class="nav-step step-order container">
  <nav>
    <ul class="ul-step">
      <li class="wrapper-li-step">
        <div class="wrapper-logo">
          <i id="icon-menu" class="fa fa-bars"></i>
          <div class="logo">
            <a href="/">VTC Freelancer</a>
          </div>
        </div>
      </li>
      <li class="wrapper-li-step">
        <div class="li-step" style="background-color: #1dbf73;"><i class="fa fa-check" style="color: white;"></i></div>
        <div class="li-content"><a href="/Customize/Order?PackageId=@Model.PackageId" style="color: #1dbf73;">Order
            Detail</a></div>
        <span style="margin-left: 10px;">></span>
      </li>
      <li class="wrapper-li-step">
        <div class="li-step" style="background-color: #1dbf73;"><i class="fa fa-check" style="color: white;"></i></div>
        <div class="li-content"><a href="/Order/Payment?PackageId=@Model.PackageId&Quantity=@Model.Quantity"
            style="color: #1dbf73;">Confirm & Pay</a></div>
        <span style="margin-left: 10px;">></span>
      </li>
      <li class="wrapper-li-step">
        <div class="li-step" style="background-color: #1dbf73;"><i class="fa fa-map-marker" style="color: white;"></i>
        </div>
        <div class="li-content" style="color: #1dbf73;">Submit Requirements & Start Order</div>
      </li>

    </ul>
  </nav>
</div>
<div class="container-inner body-order font-size-14">
  <div class="Notification-sent-mail" id="Noti-sent-mail">
    <p class="close-notification" onclick="CloseNoti()"><b>✖</b></p>
    <div class="icon-checked"><i class="fa fa-check"></i></div>
    <div class="Notification-content-sent-mail">
      <h3><b>Thank You For Your Purchase</b></h3>
      <p>A receipt was sent to your mail address</p>
    </div>
  </div>
</div>
<div class="container-inner body-require font-size-14">
  <div class="right-content">
    <form method="POST" action="StartOrder?OrderId=@Model.OrderId" enctype="multipart/form-data">
      <div class="border-content">
        <div class="title-requirement">
          <h3 class="content-title-requirement">Submit Requirements to Start Your Order</h3>
        </div>
        <div class="content-requirement">
          <h4 class="require">The seller needs the following infomation to start working on your order.</h4>
          <br>
          <div class="sub-content-require">
            <div class="form-input-require">
              <textarea rows="5" class="input-require" maxlength="2500" name="ContentRequire"></textarea>
              <input type="file" name="files" multiple>
            </div>
          </div>
        </div>
      </div>
      <div class="check">
        <input type="checkbox" onclick="setCheckbox(this)" id="input-check"><label for="input-check">The information I provided is <b>accurate and complete</b>. Any <b>changes</b> will require the 
        seller's approval, and may be subject to additional costs
      </label>
      </div>
      <div class="button-start-order">
        <a href="/">Remind Me Later</a>
      <button class="btn-continue btn-start-order" id="clickStartOrder" disabled>Start Order</button>
      </div>
    </form>
  </div>
  <div class="left-content ">
    <div class="wrapper-order-content">
      <div class="require-summary">
        @for (int i = 0; i < Model.Service.ListImage.Count; i++) { <img src="~/@Model.Service.ListImage[i].Image" alt=""
          width="100%" class="img-summary-require">
          break;
          }
          <div class="title-summary-require">
            <p class="content-summary-require">@Model.Package.Title</p>
          </div>
          <ul>
            <li class="li-detail-order"><span class="span-detail-order">✔ </span> @Model.Package.DeliveryTime Days
              Delivery</li>
            <li class="li-detail-order"><span class="span-detail-order">✔ </span> @Model.Package.NumberRevision Revision
            </li>
          </ul>
      </div>
      <br>
      <div class="detail-order">
        <div>
          <span>Status</span>
          @if (@Model.WorkStatus == 0)
          {
            <span class="float-right incomp">INCOMPLETE</span>
          }
          else if (@Model.WorkStatus == 1)
          {
            <span class="float-right proress">IN PRORESS</span>
          }
          else
          {
            <span class="float-right comp">COMPLETE</span>
          }
        </div>
        <div>
          <span>Order</span>
          <span class="float-right">@Model.OrderId</span>
        </div>
        <div>
          <span>Order Date</span>
          <span class="float-right">@Model.OrderCreateTime.ToString("dd/MM/yyyy")</span>
        </div>
        <div>
          <span>Quantity</span>
          <span class="float-right">X @Model.Quantity</span>
        </div>
        <div>
          <span>Price</span>
          <span class="float-right">$ @Model.Package.Price</span>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function CloseNoti() {
    document.getElementById("Noti-sent-mail").style.display = "none";
  }

  function setCheckbox(cb){
    if(cb.checked)
    {
      document.getElementById("clickStartOrder").disabled = false;
      document.getElementById("clickStartOrder").style.opacity = 1;
    }
    else
    {
      document.getElementById("clickStartOrder").disabled = true;
      document.getElementById("clickStartOrder").style.opacity = 0.5;
    }
  }
</script>