@model IEnumerable<Vtc_Freelancer.Models.Orders>;
    @{
    ViewData["Title"] = "Management Orders";
    Layout = "~/Views/Shared/_SellerLayout.cshtml";
    }

    <div class="container">

        <div class="order-body">
            <h1 class="mngr-request">Manage Sales</h1>
            <div class="tab" id="tab-request">
                <button class="tab-requests active" onclick="OpenGigs(event, 'All')">ALL</button>
                <button class="tab-requests" onclick="OpenGigs(event, 'Active')">ACTIVE</button>
                <button class="tab-requests" onclick="OpenGigs(event, 'Delivered')">DELIVERED</button>
                <button class="tab-requests" onclick="OpenGigs(event, 'Completed')">COMPLETED</button>
                <button class="tab-requests" onclick="OpenGigs(event, 'Cancelled')">CANCELLED</button>
            </div>
            <div class="wrapper-table-request" id="All" style="display: grid;">
                <table>
                    <thead>
                        <tr>
                            <td>BUYER</td>
                            <td>GIG</td>
                            <td>DUE ON</td>
                            <td>TOTAL</td>
                            <td>NOTE</td>
                            <td>STATUS</td>
                        </tr>
                    </thead>
                    <tbody>

                        @if(@Model != null)
                        {
                        @foreach (var item in Model)
                        {
                        @if (item.WorkStatus > 0)
                        {
                        <tr class="height95" onclick="window.location.href='/Order?orderId=@item.OrderId'">
                            <td class="date">
                                @item.Users.UserName
                            </td>
                            <td class="text-wide">
                                @item.Service.Title
                                @for (int i = 0; i < item.Service.ListImage.Count; i++) 
                                { 
                                    <img src="~/@item.Service.ListImage[i].Image" alt="image-gig" width="100px" height="60px">
                                    break;
                                }
                            </td>
                            <td class="text-wide">
                                @item.OrderStartTime.AddDays(item.Package.DeliveryTime).ToString("dd/MM/yyyy")
                            </td>
                            <td class="text-wide">
                                $@(item.Package.Price * item.Quantity)
                            </td>
                            <td class="text-wide">
                                @item.Note
                            </td>
                            <td class="text-wide">
                                @switch (@item.WorkStatus)
                                {
                                    case 1:
                                    <span class="progress">IN PRORESS</span>
                                    break;
                                    case 2:
                                    <span class="deli">DELIVERED</span>
                                    break;
                                    case 3:
                                    <span class="comp">COMPLETE</span>
                                    break;
                                    case 4:
                                    <span class="cancel">CANCEL</span>
                                    break;
                                }
                            </td>
                        </tr>
                        }
                        }
                        }

                    </tbody>
                </table>
            </div>
            <div class="wrapper-table-request" id="Active">
                <table>
                    <thead>
                        <tr>
                            <td>BUYER</td>
                            <td>GIG</td>
                            <td>DUE ON</td>
                            <td>TOTAL</td>
                            <td>NOTE</td>
                            <td>STATUS</td>
                        </tr>
                    </thead>
                    <tbody>

                        @if(@Model != null)
                        {
                        @foreach (var item in Model)
                        {
                        @if (item.WorkStatus == 1)
                        {
                        <tr class="height95" onclick="window.location.href='/Order?orderId=@item.OrderId'">
                            <td class="date">
                                @item.Users.UserName
                            </td>
                            <td class="text-wide">
                                @item.Service.Title
                                @for (int i = 0; i < item.Service.ListImage.Count; i++) 
                                { 
                                    <img src="~/@item.Service.ListImage[i].Image" alt="image-gig" width="100px" height="60px">
                                    break;
                                }
                            </td>
                            <td class="text-wide">
                                @item.OrderStartTime.AddDays(item.Package.DeliveryTime).ToString("dd/MM/yyyy")
                            </td>
                            <td class="text-wide">
                                $@(item.Package.Price * item.Quantity)
                            </td>
                            <td class="text-wide">
                                @item.Note
                            </td>
                            <td class="text-wide">
                                <span class="progress">IN PRORESS</span>
                            </td>
                        </tr>
                        }
                        }
                        }

                    </tbody>
                </table>
            </div>
            <div class="wrapper-table-request" id="Delivered">
                <table>
                    <thead>
                        <tr>
                            <td>BUYER</td>
                            <td>GIG</td>
                            <td>DUE ON</td>
                            <td>DELIVERED AT</td>
                            <td>TOTAL</td>
                            <td>NOTE</td>
                            <td>STATUS</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if(@Model != null)
                        {
                        @foreach (var item in Model)
                        {
                        @if (item.WorkStatus == 2)
                        {
                            <tr class="height95" onclick="window.location.href='/Order?orderId=@item.OrderId'">
                                <td class="date">
                                    @item.Users.UserName
                                </td>
                                <td class="text-wide">
                                    @item.Service.Title
                                    @for (int i = 0; i < item.Service.ListImage.Count; i++) 
                                { 
                                    <img src="~/@item.Service.ListImage[i].Image" alt="image-gig" width="100px" height="60px">
                                    break;
                                }
                                </td>
                                <td class="text-wide">
                                    @item.OrderStartTime.AddDays(item.Package.DeliveryTime).ToString("dd/MM/yyyy")
                                </td>
                                <td class="text-wide">
                                    @item.OrderDeliveredTime.ToString("dd/MM/yyyy")
                                </td>
                                <td class="text-wide">
                                    $@(item.Package.Price * item.Quantity)
                                </td>
                                <td class="text-wide">
                                    @item.Note
                                </td>
                                <td class="text-wide">
                                    <span class="deli">DELIVERED</span>
                                </td>
                            </tr>
                        }
                        }
                        }
                    </tbody>
                </table>
            </div>
            <div class="wrapper-table-request" id="Completed">
                <table>
                    <thead>
                        <tr>
                            <td>BUYER</td>
                            <td>GIG</td>
                            <td>DUE ON</td>
                            <td>DELIVERED AT</td>
                            <td>TOTAL</td>
                            <td>NOTE</td>
                            <td>STATUS</td>
                        </tr>
                    </thead>
                    <tbody>

                        @if(@Model != null)
                        {
                        @foreach (var item in Model)
                        {
                        @if (item.WorkStatus == 3)
                        {
                        <tr class="height95" onclick="window.location.href='/Order?orderId=@item.OrderId'">
                            <td class="date">
                                @item.Users.UserName
                            </td>
                            <td class="text-wide">
                                @item.Service.Title
                                @for (int i = 0; i < item.Service.ListImage.Count; i++) 
                                { 
                                    <img src="~/@item.Service.ListImage[i].Image" alt="image-gig" width="100px" height="60px">
                                    break;
                                }
                            </td>
                            <td class="text-wide">
                                @item.OrderStartTime.AddDays(item.Package.DeliveryTime).ToString("dd/MM/yyyy")
                            </td>
                            <td class="text-wide">
                                @item.OrderDeliveredTime.ToString("dd/MM/yyyy")
                            </td>
                            <td class="text-wide">
                                $@(item.Package.Price * item.Quantity)
                            </td>
                            <td class="text-wide">
                                @item.Note
                            </td>
                            <td class="text-wide">
                                <span class="comp">COMPLETE</span>
                            </td>
                        </tr>
                        }
                        }
                        }

                    </tbody>
                </table>
            </div>
            <div class="wrapper-table-request" id="Cancelled">
                <table>
                    <thead>
                        <tr>
                            <td>BUYER</td>
                            <td>GIG</td>
                            <td>DUE ON</td>
                            <td>TOTAL</td>
                            <td>NOTE</td>
                            <td>STATUS</td>
                        </tr>
                    </thead>
                    <tbody>

                        @if(@Model != null)
                        {
                        @foreach (var item in Model)
                        {
                        @if (item.WorkStatus == 4)
                        {
                        <tr class="height95" onclick="window.location.href='/Order?orderId=@item.OrderId'">
                            <td class="date">
                                @item.Users.UserName
                            </td>
                            <td class="text-wide">
                                @item.Service.Title
                                @for (int i = 0; i < item.Service.ListImage.Count; i++) 
                                { 
                                    <img src="~/@item.Service.ListImage[i].Image" alt="image-gig" width="100px" height="60px">
                                    break;
                                }
                            </td>
                            <td class="text-wide">
                                @item.OrderStartTime.AddDays(item.Package.DeliveryTime).ToString("dd/MM/yyyy")
                            </td>
                            <td class="text-wide">
                                $@(item.Package.Price * item.Quantity)
                            </td>
                            <td class="text-wide">
                                @item.Note
                            </td>
                            <td class="text-wide">
                                <span class="cancel">CANCEL</span>
                            </td>
                        </tr>
                        }
                        }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        function OpenGigs(event, typeGig) {

            var listGigs = document.getElementsByClassName('wrapper-table-request');
            for (let i = 0; i < listGigs.length; i++) {
                listGigs[i].style.display = "none";
            }
            var tabGig = document.getElementsByClassName('tab-requests');
            for (let i = 0; i < tabGig.length; i++) {
                tabGig[i].className = tabGig[i].className.replace(" active", "");
            }
            document.getElementById(typeGig).style.display = "grid";
            event.currentTarget.className += " active";
        }
    </script>